@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-color: #1a1a1a;
  --text-color: #f0f0f0;
  --primary-color: #48d969; /* In-tune green */

  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100%;
}